* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#personajes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.personaje {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    text-align: center;
}

.personajenombre {
    margin-top: 5px;
    font-size: 18px;
    color: #333;
}

.personajeimagen {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}